.background-tictactoe{
    height: 400px;
    width: 150px;
    background-image: url("/src/img/Tictactoe.jpg");
    background-color: red;
}
.background-snake{
    height: 400px;
    width: 150px;
    background-image: url("/src/img/snake.png");
    background-color: red;
    
}
.background-click{
    height: 400px;
    width: 150px;
    background-image: url("/src/img/click.jpeg");
    background-color: red;
}
.unauthorized{
    height: 500px;
    width: 900px;
    margin: 0 auto;
    background-image: url("/src/img/401.jpg");
}