.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.header-color{
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.homepage-grid{
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;

}

.homepage-logo{
  height: 570px;
  padding-top: 2em;
}

.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.banner-text h1{
  font-size: 55px;
  font-weight: bold;
  color: whitesmoke;
  
}
.banner-text hr{
  border-top: 5px dotted whitesmoke;
  width: 50%;
  margin: auto;
}
.banner-text p{
  color: whitesmoke;
  font-size: 20px;
  padding: 1em;
}
.social-links{
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
}

.social-links i{
  color: whitesmoke;
  font-size: 5em;
  padding: 7px;
}
.title1 {
  text-align: left;
  color: #269CEB;
  margin-top: 0px;
  float: left;
  clear: both;
}

.title2 {
  text-align: left;
  color: #FF9D00;
  margin-top: 0px;
  float: left;
  clear: both;
}

.align-center {
  display: flex;
  justify-content: center;
}

.bottomPosition{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.btn-customSize{
  margin-top: 10px;
  padding: 100px 200px;
  font-size: 150px;
  border-radius: 75%;
}

.footer{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background-image: url("../src/img/31-512.png");
  background-repeat: no-repeat;
  background-size: cover;
}


